@font-face {
  font-family: "Nunito";
  src: url(/nunitofontstwo/nunito-black-webfont.woff) format("Woff");
  src: url(/nunitofontstwo/nunito-black-webfont.woff2);
  src: url(/nunitofontstwo/nunito-blackitalic-webfont.woff) format("Woff");
  src: url(/nunitofontstwo/nunito-blackitalic-webfont.woff2);
  src: url(/nunitofonts/nunito-bold-webfont.woff) format("Woff");
  src: url(/nunitofonts/nunito-bold-webfont.woff2);
  src: url(/nunitofonts/nunito-extrabold-webfont.woff) format("Woff");
  src: url(/nunitofonts/nunito-extralight-webfont.woff2);
  src: url(/nunitofonts/nunito-lightitalic-webfont.woff) format("Woff");
  src: url(/nunitofonts/nunito-semibolditalic-webfont.woff2);
}
:root {
  --main-color: #90cbf9;
  --secondary-color: #869edc;
  --pink: #dfa9d6;
  --second-pink: #f7c6d2;
  --yellow: #f7f3d6;
  --second-yellow: #fddccb;
  --fade: all 0.3s ease;
  --thinBorder: 1px solid black;
}
html {
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: Nunito, Arial, Helvetica, sans-serif;
}
#landing_page {
  display: grid;
  grid-template-columns: 1fr 3fr;
  height: 100vh;
}
/* ----------------fixed navbar---------------------- */
.fixed_nav {
  position: fixed;
  background-color: #fff;
  width: 75vw;
  z-index: 1;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.164);
}
.fixed_nav .page-link {
  color: #333;
  transition: var(--fade);
}
/* ---------------left side of landing page------------------ */
#left {
  position: relative;
  /* border-right: 1px solid black; */
  background-color: var(--secondary-color);
}
#left h1 {
  color: var(--yellow);
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  font-weight: normal;
  padding: 2px;
  font-size: 50px;
  border-bottom: 3px solid black;
}

/* quick links (available on every section) */
.quick-links {
  position: absolute;
  top: 55%;
  left: 40%;
  transform: translateX(-40%);
  font-size: 22px;
}

.quick-links ul {
  list-style: none;
  line-height: 2em;
}
.quick-link {
  color: #fff;
  opacity: 0.5;
  text-decoration: none;
  transition: var(--fade);
}
.quick-link:hover {
  opacity: 100;
  transition: var(--fade);
}
.quick-links ul li {
  transition: var(--fade);
}
.quick-links ul li:hover {
  transform: scale(1.2);
  transition: var(--fade);
}
.quick-links ul li:nth-child(even) {
  padding-left: 15px;
}

/* -----------------right side of landing page------------------ */
/* navbar */
#navbar ul {
  display: flex;
  justify-content: space-around;
  max-width: 600px;
  width: 100%;
  margin-left: auto;
  background: transparent;
  align-items: center;
  cursor: pointer;
  padding: 5px;
}
#navbar ul li {
  list-style: none;
  font-weight: bold;
  transition: var(--fade);
}
#navbar .contact-us {
  padding: 10px 16px;
  background: var(--main-color);
  cursor: inherit;
  color: #fff;
  transition: var(--fade);
}
#navbar .contact-us:hover {
  background-color: #77baee;
  transition: var(--fade);
}

/* landing hook */
#right {
  position: relative;
}
#landing_hook {
  max-width: 500px;
  width: 100%;
  position: absolute;
  top: 20%;
  left: 10%;
  transform: translateX(-10%);
  line-height: 2em;
}
/* landing page image */
#landing_img {
  width: 750px;
  position: absolute;
  bottom: 0;
  right: 2em;
}

/* landing page buttons */
#landing_btns {
  margin-top: 1em;
}
#landing_btns .btn-dark {
  margin-right: 1em;
}
/* newsletters */
#weekly_newsletters {
  line-height: 2em;
  max-width: 600px;
  position: absolute;
  top: 20%;
  left: 70%;
  transform: translateX(-70%);
}
#weekly_newsletters button {
  margin-top: 1.5em;
}

/* ---------------Second Page Styling---------------- */
#approach {
  display: grid;
  grid-template-columns: 1fr 3fr;
  height: 100vh;
}
#left_approach {
  background-color: var(--yellow);
  position: relative;
}
#left_approach h1 {
  color: var(--secondary-color);
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  font-weight: normal;
  padding: 2px;
  font-size: 50px;
  border-bottom: 3px solid black;
}
/* ----------second page right side styling------------------ */
#right_approach {
  text-align: center;
}
#right_approach h1 {
  width: fit-content;
  margin: 3em auto;
  font-size: 35px;
  margin-bottom: 11px;
}
#right_approach span {
  font-size: 25px;
  font-weight: normal;
  color: #333;
}

/* ------------collective styling------------- */
.btn {
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.185);
  outline: none;
  border: none;
  font-weight: 300;
}
.page-link {
  color: black;
  text-decoration: none;
}
#navbar ul li:hover {
  transform: scale(0.9);
  transition: var(--fade);
}
.responsive {
  max-width: 800px;
  width: 100%;
  height: auto;
}
.btn-dark {
  background-color: var(--secondary-color);
  color: #fff;
  padding: 1em 2em;
  transition: var(--fade);
  font-weight: bold;
  border: var(--thinBorder);
}
.btn-dark:hover {
  background-color: var(--secondary-color);
  transition: all 0.3s ease;
  transform: scale(0.95);
}
.btn-light {
  border: 1px solid black;
  font-weight: bold;
  padding: 1em 2em;
  transition: all 0.3s ease;
  background-color: #fff;
}
.btn-light:hover {
  /* background-color: var(--main-color); */
  transition: all 0.3s ease;
  transform: scale(0.95);
}
.secondary-blue {
  color: var(--secondary-color);
}
.blue {
  color: var(--main-color);
}
.pink {
  color: var(--pink);
}
.secondary-pink {
  color: var(--second-pink);
}
.yellow {
  color: var(--yellow);
}
.secondary-yellow {
  color: var(--second-yellow);
}

.hidden {
  display: none;
}

/* -------------Media queries------------- */
/* landing page img */
@media only screen and (min-width: 970px) and (max-width: 1200px) {
  #landing_img {
    width: 700px;
  }
}
@media only screen and (min-width: 850px) and (max-width: 970px) {
  #landing_img {
    width: 550px;
  }
}
@media only screen and (min-width: 400px) and (max-width: 850px) {
  #landing_img {
    width: 400px;
  }
  #left {
    opacity: 0;
    width: 0;
    grid-template-columns: 1fr;
  }
  #right {
    padding-left: 10em;
  }
  #navbar ul {
    position: absolute;
    left: -5em;
    padding: 1em;
  }
  #navbar ul li {
    margin-right: 15px;
  }
  #landing_hook {
    top: 20%;
    left: -10%;
  }
}
@media only screen and (max-width: 600px) {
  #navbar ul li:nth-child(odd) {
    display: none;
  }
  #navbar ul li {
    margin-right: 5px;
  }
  #landing_btns button {
    margin: 5px;
  }
}
@media only screen and (max-width: 1450px) {
  .extension {
    display: none;
  }
}
