@font-face {
  font-family: "Nunito";
  src: url(/nunitofontstwo/nunito-black-webfont.woff) format("Woff");
  src: url(/nunitofontstwo/nunito-black-webfont.woff2);
  src: url(/nunitofontstwo/nunito-blackitalic-webfont.woff) format("Woff");
  src: url(/nunitofontstwo/nunito-blackitalic-webfont.woff2);
  src: url(/nunitofonts/nunito-bold-webfont.woff) format("Woff");
  src: url(/nunitofonts/nunito-bold-webfont.woff2);
  src: url(/nunitofonts/nunito-extrabold-webfont.woff) format("Woff");
  src: url(/nunitofonts/nunito-extralight-webfont.woff2);
  src: url(/nunitofonts/nunito-lightitalic-webfont.woff) format("Woff");
  src: url(/nunitofonts/nunito-semibolditalic-webfont.woff2);
}
:root {
  --sky-blue: #4cc9f0;
  --dodger-blue: #4895ef;
  --ultramarine-blue: #4361ee;
  --persian-blue: #3f37c9;
  --trypan-blue: #3a0ca3;
  --trypan-purple: #480ca8;
  --purple: #560bad;
  --light-purple: #7209b7;
  --byzantine: #b5179e;
  --flickr-pink: #f72585;
  --fade: all 0.3s ease;
  --thinBorder: 1px solid black;
}
html {
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: Nunito, Arial, Helvetica, sans-serif;
}
#landing_page {
  display: grid;
  grid-template-columns: 1fr 4fr;
  height: 100vh;
}
/* ----------------fixed navbar---------------------- */
.fixed_nav {
  position: fixed;
  background-color: #fff;
  width: 80vw;
  z-index: 1;
  padding: 0 1em;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.164);
}
.fixed_nav .page-link {
  color: #333;
  transition: var(--fade);
}
/* ---------------left side of landing page------------------ */
#left {
  position: relative;
  /* border-right: 1px solid black; */
  background-color: var(--dodger-blue);
}
#left h1 {
  color: #fff;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  font-weight: normal;
  padding: 2px;
  font-size: 50px;
  border-bottom: 3px solid black;
}

/* quick links (available on every section) */
.quick-links {
  position: absolute;
  top: 55%;
  left: 40%;
  transform: translateX(-40%);
  font-size: 22px;
}

.quick-links ul {
  list-style: none;
  line-height: 2em;
}
.quick-link {
  color: #fff;
  opacity: 0.5;
  text-decoration: none;
  transition: var(--fade);
}
.quick-link:hover {
  opacity: 100;
  transition: var(--fade);
}
.quick-links ul li {
  transition: var(--fade);
}
.quick-links ul li:hover {
  transform: scale(1.2);
  transition: var(--fade);
}
.quick-links ul li:nth-child(even) {
  padding-left: 15px;
}

/* -----------------right side of landing page------------------ */
/* navbar */
#navbar ul {
  display: flex;
  justify-content: space-around;
  max-width: 600px;
  width: 100%;
  margin-left: auto;
  background: transparent;
  align-items: center;
  cursor: pointer;
}
#navbar ul li {
  list-style: none;
  font-weight: bold;
  transition: var(--fade);
}
#navbar .contact-us {
  padding: 10px 16px;
  background: var(--persian-blue);
  cursor: inherit;
  color: #fff;
  transition: var(--fade);
}
#navbar .contact-us:hover {
  background-color: #77baee;
  transition: var(--fade);
}

/* landing hook */
#right {
  position: relative;
}
#landing_hook {
  max-width: 500px;
  width: 100%;
  position: absolute;
  top: 20%;
  left: 10%;
  transform: translateX(-10%);
  line-height: 2em;
}
/* landing page image */
#landing_img {
  width: 750px;
  position: absolute;
  bottom: 0;
  right: 2em;
}

/* landing page buttons */
#landing_btns {
  margin-top: 1em;
}
#landing_btns .btn-dark {
  margin-right: 1em;
}
/* newsletters */
#weekly_newsletters {
  line-height: 2em;
  max-width: 600px;
  position: absolute;
  top: 20%;
  left: 70%;
  transform: translateX(-70%);
}
#weekly_newsletters button {
  margin-top: 1.5em;
}

/* ---------------Second Page Styling---------------- */
#approach {
  display: grid;
  grid-template-columns: 1fr 4fr;
  height: fit-content;
  box-sizing: border-box;
}
#left_approach {
  background-color: var(--flickr-pink);
  position: relative;
}
#left_approach h1 {
  color: #fff;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  font-weight: normal;
  padding: 2px;
  font-size: 50px;
  border-bottom: 3px solid black;
}
/* ----------second page right side styling------------------ */
#right_approach {
  text-align: center;
  background-color: #fafafa;
  box-sizing: border-box;
}
#right_approach h1 {
  width: fit-content;
  margin: 3em auto;
  font-size: 35px;
  margin-bottom: 11px;
}
#right_approach span {
  font-size: 25px;
  font-weight: normal;
  color: #333;
}
#checks ul {
  display: flex;
  justify-content: center;
  padding-bottom: 3em;
}
#checks ul li {
  list-style: none;
  margin-right: 1.5em;
}

/* ---------------third page about section styling--------------- */
#about {
  display: grid;
  grid-template-columns: 1fr 4fr;
  height: 100vh;
  box-sizing: border-box;
}
#left_about {
  background-color: var(--persian-blue);
  position: relative;
}
#left_about h1 {
  color: #fff;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  font-weight: normal;
  padding: 2px;
  font-size: 50px;
  border-bottom: 3px solid black;
}
/* -----right side styling----- */
/* about us info styling */
#about_us_info {
  margin-top: 5em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
}
#about_us_info h1 {
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
}
/* located info styles */
#located_info {
  position: relative;
  padding: 0 2em;
  line-height: 2em;
}
/* -----google map----- */
#map {
  height: 400px;
  width: 400px;
  margin: 5em auto;
}

/* Client logo styling */
#client_logos h1 {
  grid-column: 1/3;
}
#client_logos p {
  grid-column: 1/3;
  margin-top: -7em;
  margin-bottom: 4em;
}
#client_logos {
  line-height: 2em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  column-gap: 5em;
  position: relative;
}
#client_logos img {
  width: 70px;
  height: 70px;
}
.client_card {
  margin-top: -100px;
  transition: var(--fade);
  cursor: pointer;
}
.client_card:hover {
  transform: scale(1.2);
  transition: var(--fade);
}
#contact_us_clients_page {
  position: absolute;
  bottom: 3em;
}
/* -----About us development styles----- */
#about_us_development {
  line-height: 2em;
  max-width: 450px;
}
#about_us_img {
  margin-top: 3em;
  width: 400px;
  height: 500px;
}
#about_career a {
  color: var(--light-purple);
  text-decoration: none;
}

/* ------------collective styling------------- */
/* contact link */
.contact_link {
  text-decoration: none;
}
/* date */
#date {
  position: absolute;
  top: 1.4em;
  left: 3em;
}
.btn {
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.185);
  outline: none;
  border: none;
  font-weight: 300;
}
.page-link {
  color: black;
  text-decoration: none;
}
#navbar ul li:hover {
  transform: scale(0.9);
  transition: var(--fade);
}
.responsive {
  max-width: 800px;
  width: 100%;
  height: auto;
}
.btn-dark {
  background-color: var(--persian-blue);
  color: #fff;
  padding: 1em 2em;
  transition: var(--fade);
  font-weight: bold;
  border: var(--thinBorder);
}
.btn-dark:hover {
  background-color: var(--secondary-color);
  transition: all 0.3s ease;
  transform: scale(0.95);
  color: black;
}
.btn-light {
  border: 1px solid black;
  font-weight: bold;
  padding: 1em 2em;
  transition: all 0.3s ease;
  background-color: #fff;
}
.btn-light:hover {
  /* background-color: var(--main-color); */
  transition: all 0.3s ease;
  transform: scale(0.95);
}

.hidden {
  display: none;
}

/* language logo *second page* styling */
#language_logos {
  display: grid;
  column-gap: 2em;
  row-gap: 2em;
  grid-template-columns: repeat(5, 1fr);
  max-width: 60vw;
  margin: 6em auto;
}
#language_logos .card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  height: 150px;
  width: 150px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.219);
}
.card_img {
  width: 75px;
}

/* -------------Media queries------------- */
/* landing page img */
@media only screen and (min-width: 970px) and (max-width: 1400px) {
  /* third page */
  #about_us_info {
    grid-template-columns: 2fr;
  }
  #client_logos {
    grid-template-columns: 1fr 1fr;
    row-gap: 7em;
    column-gap: 0;
    max-width: 700px;
    margin-top: 2em;
    text-align: center;
  }
  #contact_us_clients_page {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  #about_us_development {
    max-width: 700px;
    margin: auto;
  }
  #landing_img {
    width: 700px;
  }
}
@media only screen and (min-width: 850px) and (max-width: 970px) {
  /* third page */
  #about_us_info {
    grid-template-columns: 2fr;
  }
  #client_logos {
    grid-template-columns: 1fr 1fr;
    row-gap: 7em;
    column-gap: 0;
    max-width: 650px;
    margin-top: 2em;
    text-align: center;
  }
  #contact_us_clients_page {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  #about_us_development {
    max-width: 700px;
    margin: auto;
  }
  #landing_img {
    width: 550px;
  }
  /* language logo fixing*/
  #language_logos {
    grid-template-columns: repeat(3, 1fr);
  }
  /* about us grid responsiveness */
  #about_us_info {
    grid-template-columns: 2fr;
  }
}
@media only screen and (min-width: 400px) and (max-width: 850px) {
  /* third page */
  #about {
    position: relative;
  }
  #left_about {
    width: 0;
    opacity: 0;
    display: none;
  }
  #right_about {
    position: absolute;
  }
  #about_us_info {
    grid-template-columns: 2fr;
  }
  #client_logos {
    grid-template-columns: 1fr 1fr;
    row-gap: 7em;
    column-gap: 0;
    max-width: 650px;
    margin-top: 2em;
    text-align: center;
  }
  #contact_us_clients_page {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  #about_us_development {
    max-width: 700px;
    margin: auto;
  }

  /* second page */
  /* hiding the left bar */
  #left_approach {
    opacity: 0;
    width: 0;
  }
  #approach {
    box-sizing: border-box;
  }
  #right_approach {
    width: 98vw;
  }
  .approach_text {
    max-width: 400px;
    width: 100%;
    margin: auto;
  }
  /* language logo fixing*/
  #language_logos {
    grid-template-columns: 1fr 1fr;
  }
  /* top page */
  #landing_img {
    width: 400px;
  }
  /* hiding left bar */
  #left {
    opacity: 0;
    width: 0;
    grid-template-columns: 1fr;
  }
  #right {
    padding-left: 10em;
  }
  #navbar ul {
    position: absolute;
    left: -5em;
    padding: 1em;
  }
  #navbar ul li {
    margin-right: 15px;
  }
  #landing_hook {
    top: 20%;
    left: -10%;
  }
  /* fixing nav */
  .fixed_nav {
    margin-left: -10em;
  }
}
@media only screen and (max-width: 600px) {
  /* third page */
  #navbar ul li:nth-child(odd) {
    display: none;
  }
  #navbar ul li {
    margin-right: 5px;
  }
  #landing_btns button {
    margin: 5px;
  }
}
@media only screen and (max-width: 1450px) {
  .extension {
    display: none;
  }
}
